@import '../../../styles.scss';

footer {

  color: $text-color;
  text-align: center;
  padding: 10px 10px;
  height: 40px;
  font-family: $font-family;
  display: flex;
  align-items: center;
  justify-content: center;

}
